
ul{
	list-style: none;
	display: inline-block;
}
li{
	display: inline-block;
	color:gray;
}
.search{
	text-align: right;
	padding-top: 5px;
}
.logo{
	margin-top: 3px;
	width: 90px;
	height: 55px;
}
.login{
	border: none;
    background-color: inherit;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.login:hover {
	background: #eee;
	border-radius: 5%;
}
.main{width: 100%; background:lightskyblue;}
/*General Menu Styling*/
.mainnav{
margin: 0 auto}
li{list-style: none;}
li a{text-decoration: none;}
.dropdown{
position: absolute;
 width: 150px;
top: 120px;
 opacity: 0;
visibility: hidden;
transition: ease-out .35s;
-moz-transition: ease-out .35s;
-webkit-transition: ease-out .35s;
}
.mainnav li{
float: left;
padding: 5px;
background:lightskyblue;
}
.mainnav li:first-child{
border: none;
}
.mainnav li a{ 
	display: block;
	padding: 2px 20px;
	color: black;
	font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}
.mainnav li:hover{
background: #fff;transition: ease-in .35s;
-moz-transition: ease-in .35s;
-webkit-transition: ease-in .35s;
}
.mainnav li:hover a{
color: inherit;
transition: ease-in .35s;
-moz-transition: ease-in .35s;
-webkit-transition: ease-in .35s;
}
/*First Level*/
.subs {
left: -45px;
position: relative;
top: 0px;
width: 175px;
border-left: none !important;
 border-bottom: 1px dotted #fff !important;
}
.subs:last-child{
border: none !important;
}
.hassubs:hover .dropdown,.hassubs .hassubs:hover .dropdown{
opacity: 1;
visibility: visible;
 transition: ease-in .35s;
-moz-transition: ease-in .35s;
-webkit-transition: ease-in .35s;
}
.mainnav li:hover ul a,.mainnav li:hover ul li ul li a{
color: black;
}
.mainnav li ul li:hover,.mainnav li ul li ul li:hover{
background: #fff;
transition: ease-in-out .35s;
-moz-transition: ease-in-out .35s;
-webkit-transition: ease-in-out .35s;
}
.mainnav li ul li:hover a,.mainnav li ul li ul li:hover a{
color: black;
transition: ease-in-out .35s;
-moz-transition: ease-in-out .35s;
-webkit-transition: ease-in-out .35s;
}
/*Second Level*/
.hassubs .hassubs .dropdown .subs{
left: 25px;
position: relative;
width: 165px;
top: 0px;
}
.hassubs .hassubs .dropdown{
position: absolute;
width: 150px;
left: 120px;
top: 10px;
opacity: 0;
visibility: hidden;
transition: ease-out .35s;
-moz-transition: ease-out .35s;
-webkit-transition: ease-out .35s;
}
.contactus{
  border-style: solid;
  border-color: orange;
  float: right;
  background: white;
  padding: 20px;
}
section {
  display: -webkit-flex;
  display: flex;
}
.sdiv{
	-webkit-flex: 3;
  	-ms-flex: 3;
  	flex: 3;
	display: inline-block;
	
}
section article{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 1;
}
.s1{
	display: -webkit-flex;
  	display: flex;
  	min-height: 250px;
}
.s2{
	display: -webkit-flex;
  	display: flex;
  	min-height: 250px;
}
.s1 nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  border-style: solid;
  border-color: orange;
}

.s1 article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 1;
  padding: 10px;
  border-style: solid;
  border-color: orange;
}
.s2 article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 1;
  padding: 10px;
  border-style: solid;
  border-color: orange;
}
footer{
	text-align: center;
}

#subscribe, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;
}
#login{
	z-index: 22;
}
/**** general text styling ****/
#wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
